In [2]:
import pandas as pd
import matplotlib.pyplot as plt

data = {'Annual advertising investment':[12.5, 15.3, 23.2, 26.4, 33.5, 34.4, 39.4, 45.2, 55.4, 60.9],
        'Averange monthly sales':[21.2, 23.9, 32.9, 34.1, 42.5, 43.2, 49.0, 52.8, 59.4, 63.5]}
pd.DataFrame(data)

   Annual advertising investment  Averange monthly sales
0                           12.5                    21.2
1                           15.3                    23.9
2                           23.2                    32.9
3                           26.4                    34.1
4                           33.5                    42.5
5                           34.4                    43.2
6                           39.4                    49.0
7                           45.2                    52.8
8                           55.4                    59.4
9                           60.9                    63.5