In [1]:
import pandas as pd
import numpy as np
data=np.random.randint(50,100,(10,5))
scores_df=pd.DataFrame(data,columns=['Chinese','Physics','Natrue','Math','English'],index=range(1,11))
display(scores_df)

    Chinese  Physics  Natrue  Math  English
1        66       90      79    56       98
2        86       68      57    76       55
3        84       73      75    52       54
4        63       87      72    60       68
5        94       74      90    81       54
6        71       76      68    63       94
7        75       93      95    78       54
8        61       75      89    85       79
9        86       85      94    59       77
10       75       96      52    62       70

In [2]:
scores_sum=scores_df.iloc[:,:5].sum(axis=1)
scores_average=scores_df.iloc[:,:5].mean(axis=1)
scores_df['total']=scores_sum
scores_df['ave']=scores_average
display(scores_df)

    Chinese  Physics  Natrue  Math  English  total   ave
1        66       90      79    56       98    389  77.8
2        86       68      57    76       55    342  68.4
3        84       73      75    52       54    338  67.6
4        63       87      72    60       68    350  70.0
5        94       74      90    81       54    393  78.6
6        71       76      68    63       94    372  74.4
7        75       93      95    78       54    395  79.0
8        61       75      89    85       79    389  77.8
9        86       85      94    59       77    401  80.2
10       75       96      52    62       70    355  71.0

In [4]:
import numpy as np
from pandas import Series

def calculation_level(s:Series):
    average:float=float(s.mean())
    if average>=0 and average<=100:
        if average<=60:
            return 'C'
        elif average<=80:
            return 'B'
        elif average<=90:
            return 'A'
        else:
            return 'Excellent'
    else:
        return 'Error'
def calculation_failure(s:Series):
    s=s.values
    return sum([i <60 for i in s])
scores_df['level']=scores_df.iloc[:,:5].apply(calculation_level,axis=1)
scores_df['Failures']=scores_df.iloc[:,:5].apply(calculation_failure,axis=1)
display(scores_df)

    Chinese  Physics  Natrue  Math  English  total   ave level  Failures
1        66       90      79    56       98    389  77.8     B         1
2        86       68      57    76       55    342  68.4     B         2
3        84       73      75    52       54    338  67.6     B         2
4        63       87      72    60       68    350  70.0     B         0
5        94       74      90    81       54    393  78.6     B         1
6        71       76      68    63       94    372  74.4     B         0
7        75       93      95    78       54    395  79.0     B         1
8        61       75      89    85       79    389  77.8     B         0
9        86       85      94    59       77    401  80.2     A         1
10       75       96      52    62       70    355  71.0     B         1