In [29]:
import requests
from requests import Response
import pandas as pd

url='https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'
response:Response=requests.get(url)
if response.status_code==200:
    station_data=response.json()
station_df=pd.DataFrame(station_data,columns=['stationCode','stationName'])
station_df=station_df['stationCode'].astype(int)

In [21]:
import pandas as pd
df1=pd.read_csv('Number of people entering and exiting each station daily 2020.csv')
df1=df1.rename(columns={'staCode':'stationCode'})

In [31]:
pd.merge(station_df,df1,on='stationCode')

       stationCode  trnOpDate  gateInComingCnt  gateOutGoingCnt
0              900   20200101             7552             8154
1              900   20200102             7709             7240
2              900   20200103             8713             8086
3              900   20200104             8625             8407
4              900   20200105             8015             7355
...            ...        ...              ...              ...
86569         7390   20201227              302              378
86570         7390   20201228              419              477
86571         7390   20201229              410              475
86572         7390   20201230              381              452
86573         7390   20201231              377              444

[86574 rows x 4 columns]