In [8]:
import requests
import pandas as pd
url='https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'
station_df=pd.DataFrame(requests.get(url).json(),columns=['stationCode','stationName'])
station_df['stationCode']=station_df['stationCode'].astype('int')

In [9]:
import pandas as pd
import os

file_names:list[str]=os.listdir('Number of people entering and exiting each station every day')
abs_path:list[str]=[]
abs_path.extend(os.path.abspath(f'Number of people entering and exiting each station every day/{name}') for name in file_names)

In [10]:
add_df=pd.concat([pd.read_csv(path) for path in abs_path])
add_df['trnOpDate']=pd.to_datetime(add_df['trnOpDate'].astype('str'))
add_df=add_df.rename(columns={'staCode':'stationCode'})

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20200101      900             7552             8154
1       20200101      910             1020             1135
2       20200101      920             1623             1972
3       20200101      930             4130             4813
4       20200101      940             1818             2128
...          ...      ...              ...              ...
86534   20211231     7360             4062             4451
86535   20211231     7361               87              104
86536   20211231     7362              341              403
86537   20211231     7380              534              481
86538   20211231     7390              383              389

[406761 rows x 4 columns]

In [11]:
all_df=pd.merge(add_df,station_df,on='stationCode',how='left')
all_df=all_df.dropna()
all_df=all_df.sort_values(by=['trnOpDate'])
all_df.query('trnOpDate.dt.month==2020-04'and'trnOpDate.dt.year==2020')

       trnOpDate  stationCode  gateInComingCnt  gateOutGoingCnt stationName
0     2020-01-01          900             7552             8154          基隆
177   2020-01-01         6100               14                5          東里
152   2020-01-01         5070              465              618          南州
153   2020-01-01         5080                5               11          鎮安
154   2020-01-01         5090              400              358          林邊
...          ...          ...              ...              ...         ...
86903 2020-12-31         7170               21               29          中里
86904 2020-12-31         7180              150              179          二結
86905 2020-12-31         7190             6226             6140          宜蘭
86906 2020-12-31         7200              146              147          四城
86897 2020-12-31         7110               15               11          永樂

[86932 rows x 5 columns]